@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__container {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 42px;
  gap: 15px;
  position: relative;
}
.header__logo {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #1A1A1A;
}
.header__menu {
  display: flex;
  align-items: center;
}

.menu__body {
  display: flex;
  align-items: center;
}
@supports (gap: clamp( 1.5625rem , -0.8272911833rem  +  11.9489559165vw , 8rem )) {
  .menu__body {
    gap: clamp( 1.5625rem , -0.8272911833rem  +  11.9489559165vw , 8rem );
  }
}
@supports not (gap: clamp( 1.5625rem , -0.8272911833rem  +  11.9489559165vw , 8rem )) {
  .menu__body {
    gap: calc(1.5625rem + 6.4375 * (100vw - 20rem) / 53.875);
  }
}
@media screen and (max-width: 767px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
}
@supports (column-gap: clamp( 1.25rem , 0.5539443155rem  +  3.4802784223vw , 3.125rem )) {
  .menu__list {
    column-gap: clamp( 1.25rem , 0.5539443155rem  +  3.4802784223vw , 3.125rem );
  }
}
@supports not (column-gap: clamp( 1.25rem , 0.5539443155rem  +  3.4802784223vw , 3.125rem )) {
  .menu__list {
    column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.875);
  }
}
.menu__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1A1A1A;
}
.menu__btn {
  display: flex;
  align-items: center;
}
@supports (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .menu__btn {
    gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem );
  }
}
@supports not (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .menu__btn {
    gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 53.875);
  }
}

.btn__login {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #1A1A1A;
}
.btn__sign {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background: #066F14;
  border-radius: 4px;
  padding: 12px 16px;
}

@media screen and (max-width: 767px) {
  .menu-open .menu__body {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 140px;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #fff;
    z-index: 10;
  }
}
@media screen and (max-width: 767px) {
  .menu-open .menu__list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .menu-open .menu__link {
    font-size: 26px;
    line-height: 50px;
  }
}

.header-body {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1060px) {
  .header-body {
    flex-direction: column;
    align-items: center;
  }
}
.header-body__content {
  padding-top: 52px;
  width: 100%;
  max-width: 548px;
}
.header-body__content-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 92px;
  color: #1A1A1A;
}
.header-body__content-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #4A4A4A;
  margin-bottom: 56px;
  margin-top: 24px;
}
@supports (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
  .header-body__content-text {
    font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem );
  }
}
@supports not (font-size: clamp( 0.75rem , 0.7rem  +  0.25vw , 1rem )) {
  .header-body__content-text {
    font-size: calc(0.75rem + 0.25 * (100vw - 20rem) / 100);
  }
}
@supports (line-heigh: clamp( 1rem , 0.875rem  +  0.625vw , 1.625rem )) {
  .header-body__content-text {
    line-heigh: clamp( 1rem , 0.875rem  +  0.625vw , 1.625rem );
  }
}
@supports not (line-heigh: clamp( 1rem , 0.875rem  +  0.625vw , 1.625rem )) {
  .header-body__content-text {
    line-heigh: calc(1rem + 0.625 * (100vw - 20rem) / 100);
  }
}
.header-body__content-block {
  margin-top: 76px;
}

.button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 16px 32px;
  background: #066F14;
  border-radius: 4px;
}

.content-block {
  display: flex;
  justify-content: space-between;
}
.content-block__card-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #001B04;
}
.content-block__card-subtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #1A1A1A;
  text-align: center;
  margin-top: 10px;
}

.header-body__flower {
  margin-right: -70px;
}
@media screen and (max-width: 1060px) {
  .header-body__flower {
    margin-right: 0;
  }
}

.block-flower__content {
  position: relative;
}
.block-flower__content-img {
  width: 100%;
}
.block-flower__button {
  position: absolute;
  display: flex;
  align-items: center;
}
.block-flower__button-1 {
  top: 174px;
}
@supports (left: clamp( -2.6875rem , 1.8546983759rem  +  -6.1484918794vw , 0.625rem )) {
  .block-flower__button-1 {
    left: clamp( -2.6875rem , 1.8546983759rem  +  -6.1484918794vw , 0.625rem );
  }
}
@supports not (left: clamp( -2.6875rem , 1.8546983759rem  +  -6.1484918794vw , 0.625rem )) {
  .block-flower__button-1 {
    left: calc(0.625rem + -3.3125 * (100vw - 20rem) / 53.875);
  }
}
.block-flower__button-2 {
  top: 72px;
  flex-direction: row-reverse;
}
@supports (right: clamp( -3.3125rem , 2.0867169374rem  +  -7.3085846868vw , 0.625rem )) {
  .block-flower__button-2 {
    right: clamp( -3.3125rem , 2.0867169374rem  +  -7.3085846868vw , 0.625rem );
  }
}
@supports not (right: clamp( -3.3125rem , 2.0867169374rem  +  -7.3085846868vw , 0.625rem )) {
  .block-flower__button-2 {
    right: calc(0.625rem + -3.9375 * (100vw - 20rem) / 53.875);
  }
}
@supports (width: clamp( 1.875rem , -0.0971577726rem  +  9.8607888631vw , 7.1875rem )) {
  .block-flower__button-2 .block__light-line {
    width: clamp( 1.875rem , -0.0971577726rem  +  9.8607888631vw , 7.1875rem );
  }
}
@supports not (width: clamp( 1.875rem , -0.0971577726rem  +  9.8607888631vw , 7.1875rem )) {
  .block-flower__button-2 .block__light-line {
    width: calc(1.875rem + 5.3125 * (100vw - 20rem) / 53.875);
  }
}
.block-flower__button-2 .block__light-line::before {
  left: 0;
  top: -6px;
}
.block-flower__button-3 {
  flex-direction: row-reverse;
}
@supports (top: clamp( 18.75rem , 12.8567285383rem  +  29.4663573086vw , 34.625rem )) {
  .block-flower__button-3 {
    top: clamp( 18.75rem , 12.8567285383rem  +  29.4663573086vw , 34.625rem );
  }
}
@supports not (top: clamp( 18.75rem , 12.8567285383rem  +  29.4663573086vw , 34.625rem )) {
  .block-flower__button-3 {
    top: calc(18.75rem + 15.875 * (100vw - 20rem) / 53.875);
  }
}
@supports (right: clamp( -2.5rem , 1.7850928074rem  +  -5.8004640371vw , 0.625rem )) {
  .block-flower__button-3 {
    right: clamp( -2.5rem , 1.7850928074rem  +  -5.8004640371vw , 0.625rem );
  }
}
@supports not (right: clamp( -2.5rem , 1.7850928074rem  +  -5.8004640371vw , 0.625rem )) {
  .block-flower__button-3 {
    right: calc(0.625rem + -3.125 * (100vw - 20rem) / 53.875);
  }
}
@supports (width: clamp( 0.625rem , -0.8135150812rem  +  7.192575406vw , 4.5rem )) {
  .block-flower__button-3 .block__light-line {
    width: clamp( 0.625rem , -0.8135150812rem  +  7.192575406vw , 4.5rem );
  }
}
@supports not (width: clamp( 0.625rem , -0.8135150812rem  +  7.192575406vw , 4.5rem )) {
  .block-flower__button-3 .block__light-line {
    width: calc(0.625rem + 3.875 * (100vw - 20rem) / 53.875);
  }
}
.block-flower__button-3 .block__light-line::before {
  left: 0;
  top: -6px;
}

.button__light {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: rgba(6, 111, 20, 0.7);
  border-radius: 4px;
}

.block__light-line {
  background: #519A5A;
  height: 4px;
  position: relative;
}
@supports (width: clamp( 1.25rem , -0.4901392111rem  +  8.7006960557vw , 5.9375rem )) {
  .block__light-line {
    width: clamp( 1.25rem , -0.4901392111rem  +  8.7006960557vw , 5.9375rem );
  }
}
@supports not (width: clamp( 1.25rem , -0.4901392111rem  +  8.7006960557vw , 5.9375rem )) {
  .block__light-line {
    width: calc(1.25rem + 4.6875 * (100vw - 20rem) / 53.875);
  }
}
.block__light-line::before {
  position: absolute;
  right: 0;
  top: -6px;
  right: -6px;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/header/circle.svg);
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.have {
  display: flex;
  justify-content: center;
  gap: 62px;
  padding-top: 102px;
  padding-bottom: 128px;
}
.have__content {
  width: 100%;
  max-width: 389px;
}
.have__content-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #1A1A1A;
  margin-bottom: 37px;
}
.have__content-btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #4A4A4A;
  display: flex;
  align-items: center;
  gap: 11px;
}
.have__media {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.about {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 0 26px 144px 26px;
}
@media screen and (max-width: 992px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about__photo {
  position: relative;
  width: 446px;
  height: 440px;
  background: #066F14;
}
@media screen and (max-width: 992px) {
  .about__photo {
    width: 100%;
    background: none;
  }
}
.about__photo img {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100%;
  max-width: 446px;
}
@media screen and (max-width: 992px) {
  .about__photo img {
    position: relative;
    left: 0;
    top: 0;
  }
}
.about__content {
  width: 100%;
  max-width: 504px;
}
.about__content-prevtitle {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #066F14;
}
.about__content-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
  margin-top: 12px;
}
.about__content-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-top: 24px;
}
.about__content-textbold {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4A4A4A;
  margin-top: 16px;
  margin-bottom: 52px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
}
.product__new {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 54px;
}
.product__new-btn {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #4A4A4A;
}
.product__new-btn-activ {
  color: #066F14;
}

.product-content {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 56px;
  width: 100%;
}
.product-content__card {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 7px;
  padding-bottom: 29px;
  background: #EAF2E5;
  width: 100%;
  max-width: 270px;
}
.product-content__card-icon {
  margin: 0 auto;
}
.product-content__card-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1A1A1A;
  margin-top: 6px;
}
.product-content__card-rating {
  margin-top: 10px;
}
.product-content__card-price {
  margin-top: 12px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1A1A1A;
  display: block;
}

.custom {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-top: 128px;
}
@media screen and (max-width: 992px) {
  .custom {
    flex-direction: column;
  }
}
.custom__content {
  width: 100%;
  max-width: 502px;
  position: relative;
}
.custom__content-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
}
.custom__content-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-top: 12px;
}
.custom__slider {
  margin-top: 43px;
  position: absolute;
  left: 0;
  width: 597px;
}
@media screen and (max-width: 992px) {
  .custom__slider {
    position: relative;
    width: 100%;
  }
}
.custom__media img {
  width: 100%;
}

.swiper {
  background: #066F14;
}

.swiper-wrapper {
  padding: 20px 63px 6px 32px;
}

.swiper-slide__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.swiper-slide__header-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  display: block;
}
.swiper-slide__header-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #D9D9D9;
  margin-top: 6px;
}
.swiper-slide__content {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ECECEC;
  margin-top: 16px;
  width: 80%;
  max-width: 502px;
}

.swiper-button-prev {
  background: #143B19;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  background: #FFFFFF;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-slider__content {
  display: flex;
  justify-content: flex-end;
}

.subscribe {
  background: #DFFFE3;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1040px;
}
@media screen and (max-width: 883px) {
  .subscribe {
    justify-content: center;
  }
}
.subscribe__container {
  margin-top: 164px;
}
.subscribe__content {
  padding: 60px 59px;
}
.subscribe__content-title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #1A1A1A;
}
.subscribe__content-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4A4A4A;
  margin-top: 12px;
  width: 100%;
  max-width: 458px;
}
.subscribe__content-form {
  margin-top: 30px;
  width: 100%;
}
.subscribe__media {
  margin-top: -36px;
  margin-right: 24px;
}
.subscribe__media img {
  width: 100%;
}

.form {
  background: #FFFFFF;
  border-radius: 4px;
  width: 100%;
  max-width: 451px;
  padding: 8px 8px 8px 20px;
  display: flex;
}
.form__input {
  padding: 11px 0;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5A5A5A;
}
.form__btn {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FEFEFE;
  background: #066F14;
  border-radius: 4px;
  width: 100%;
  max-width: 98px;
}

.follow {
  padding-top: 79px;
}
.follow__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  color: #1A1A1A;
  text-align: center;
}
.follow__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #4A4A4A;
  width: 100%;
  max-width: 544px;
  margin: 0 auto;
  margin-top: 12px;
}

.follow-block {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.follow-block__card {
  width: 100%;
  max-width: 230px;
  position: relative;
  transition: background 2s;
}
.follow-block__card:hover .follow-block__card-hover {
  display: flex;
  background: rgba(0, 0, 0, 0.34);
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.follow-block__card-hover {
  display: none;
}

.footer {
  padding-top: 128px;
  padding-bottom: 96px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 979px) {
  .footer-content {
    justify-content: center;
  }
}
.footer-content__plant {
  width: 100%;
  max-width: 306px;
}
.footer-content__plant-logo {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1A1A1A;
}
.footer-content__plant-text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  margin-top: 24px;
  color: #5A5A5A;
}
.footer-content__plant-icons {
  margin-top: 22px;
  display: flex;
  gap: 16px;
}
.footer-content-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 644px;
}

.footer-content-column__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #1A1A1A;
  margin-bottom: 24px;
}
.footer-content-column__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #5A5A5A;
  display: block;
}
.footer-content-column__text:not(:first-child) {
  margin-top: 16px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
